@font-face {
    font-family: 'Lilita-One';
    src: url(../fonts/LilitaOne-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}