body {
    margin: 0 250px 0 250px;
    background-color: #333;
    color: #fff;
  }

  img {
    margin: 20px 0 20px 0;
    padding: 10px;
}

h1 {
    font-size: 50px;
    color: #fffb00b6;
    background-color: red;
    font-weight: bold;
    text-transform: uppercase;
}

h2{
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 25px;
    text-align:center;
}

a {
    color: yellow;
    font-size: 25pxpx;
}

table {
    font-size: 20px;
    margin: auto;
}

li {
    font-size: 25px;
}